.header {
    display: flex;
    align-items: center;
}

.header--img {
    max-height: 150px;
    padding: 2em;
    border-radius: 50%;
}

.main {
    width: 75%;
    margin: 0 auto;
}

ul {
    list-style: circle;
}

li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(240, 237, 237);
}

li:nth-child(even) {
    background: white
}

.field {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.label {
    font-size: 16px;
}

.button {
    cursor: pointer;
    margin: 1rem 0 2rem 0;
    padding: 0.5rem;
    background-color: rgb(106, 86, 233);
    color: rgb(255, 255, 255);
    font-size: 1rem;
}

.request__delete {
    background-color: red;
    color: white;
    cursor: pointer;
}