/* GENERAL STYLING
--------------------------------------------------------------*/
.header {
	display: flex;
	align-items: center;
	margin-bottom: var(--spacer);
    padding: 2em;
}

.header .img {
	border-radius: 50%;
	max-width: 10rem;
	margin-right: var(--spacer);
}

.main-content {
	max-width: 90%;
	margin: 0 auto;
}

.footer {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	padding: var(--spacer) 0;
	margin: var(--spacer) 0;
}

.service-form {
	margin-bottom: var(--spacer);
}

.field {
	display: flex;
	flex-direction: column;
	margin: var(--spacer) 0;
}

.button--submit {
	margin: var(--spacer) 0 2em 0;
	color: var(--clr-neutral-200);
	background: var(--clr-accent-purple);
}

.button--delete {
	margin-left: var(--spacer);
	color: var(--clr-neutral-200);
	background: var(--clr-accent-red);
	border-radius: 1.6em;
}

.service-requests {
	margin-bottom: var(--spacer);
}

li {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: .25em .5em;
	
}

.ul--unfinished-requests li:nth-child(2n) {
	background: var(--clr-neutral-300);
}

.ul--completed-requests li {
	background: var(--clr-accent-pink);
	border-bottom: 3px dotted var(--clr-neutral-300);
}

.ul--completed-requests .li--right {
	justify-content: flex-end;
}

.li-title {
	display: flex;
	justify-content: flex-start;
	font-weight: 700;
	color: var(--clr-neutral-200);
	background: var(--clr-neutral-500);
	align-items: center;
	padding: .5em
}

.li--left {
	display: flex;
	min-width: 65%;
}

.li--right {
	display: flex;
	justify-content: space-between;
	min-width: 35%;
}

.img--wrench {
	max-width: 25px;
	height: auto;
	margin-right: .5rem;
}

.footer {
    margin: 2em;
}

.footer--left {
	min-width: 33%;
	display: flex;
	justify-content: flex-start;
	align-content: center;
}

.footer--center {
	min-width: 34%;
	display: flex;
	justify-content: center;
	align-content: center;
}

.footer--right {
	min-width: 33%;
	display: flex;
	justify-content: flex-end;
	align-content: center;
}